// --- semantic::apps label & field layout ---
.sfFieldRow {
  margin-top: 8px;
}

// right-align labels, bold
.sfFieldLabel {
  padding-right: 0;
  font-weight: bold;
  text-align: right;

  //.simple-tooltip-inline {
  //  border-bottom: 1px solid #C8C8C8;
  //  padding-bottom: 1px;
  //}
}

// left-align label on small devices
@include media-breakpoint-down(sm) {
  .sfFieldLabel {
    text-align: left;
    margin-bottom: 4px;
  }
}
// --- semantic::apps layout ---

// --- Mandatory and recommended fields ---
.sfFieldLabel::after {
  content: "*";
  margin-left: 3px;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: bold;
  opacity: 0;
}

.mandatoryInput {
  .sfFieldLabel::after {
    color: #E16761;
    opacity: 1;
  }
}

.recommendedInput {
  .sfFieldLabel::after {
    color: #FFB93D;
    opacity: 1;
  }
}
// === Mandatory and recommended fields ===