name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  test:

    runs-on: ubuntu-22.04
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        include:
          - mediawiki_version: '1.35'
            chameleon_version: '4.2.1'
            php_version: 7.4        
            database_type: mysql
            database_image: "mysql:5.7"
            coverage: true
            experimental: false
          - mediawiki_version: '1.39'
            chameleon_version: '4.2.1'
            php_version: 8.1        
            database_type: mysql
            database_image: "mysql:8"
            coverage: false
            experimental: false

    env:
      MW_VERSION: ${{ matrix.mediawiki_version }}
      CHAMELEON_VERSION: ${{ matrix.chameleon_version }}
      PHP_VERSION: ${{ matrix.php_version }}
      DB_TYPE: ${{ matrix.database_type }}
      DB_IMAGE: ${{ matrix.database_image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
                   
      - name: Update submodules
        run: git submodule update --init --remote

      - name: Run tests
        run: make ci
        if: matrix.coverage == false
        
      - name: Run tests with coverage
        run: make ci-coverage
        if: matrix.coverage == true

      - name: Upload code coverage
        uses: codecov/codecov-action@v4
        with:
          files: coverage/php/coverage.xml,coverage/js/clover.xml
        if: matrix.coverage == true
